@model EmployeeInformationManagementSystem.Models.EmployeeServiceRecord

@{
    ViewBag.Title = "Delete Service Record";
}

<section class="content-header">
    <h1>
        <small><b>Are you sure you want to delete this?</b></small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-child"></i> Employee</li>
        <li><i class="fa fa-list-alt"></i> List of Employees</li>
        <li><i class="fa fa-info-circle"></i> Employee Details</li>
        <li class="active"><i class="fa fa-trash"></i> Delete Service Record</li>
    </ol>
</section>

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Service Record Details
            </h2>
        </div>
    </div>

    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Years in Organization</strong><br />
                @Html.TextBoxFor(model => model.years_in_organization, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
                <strong>Years in Probationary</strong><br />
                @Html.TextBoxFor(model => model.years_in_probationary, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
                <strong>Years of Permanent</strong><br />
                @Html.TextBoxFor(model => model.years_of_permanent, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
            </address>
        </div>
    </div>

    <div class="row no-print">
        <div class="col-xs-12">
            <!--<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a> -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color pull-right">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</section>
<div class="clearfix"></div>

